.linkMOUSE {
  cursor: pointer;
}

.alert-fixed {
  position:fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  opacity: 0.8;
  z-index: 999;
}

.post-index {
  background: #FFDDAA;
}

.user-head {
  background: #FFDDAA;
  min-height: 400px;
}

.user-avatar{
  width: 200px;
  height: 200px;
  margin: 10px;
}

.friend-avatar{
  width: 100px;
  height: 100px;
  margin: 5px;
}

.user-edit-button{
  padding: 0 15px;
  position: absolute;
  top: 350px;
  left: 80%;
}

.post-image{
  width: 550px;
  height: 350px;
  margin: 10px;  
}

.reply-card{
  height: 200px;
}

.collect-show-btn{
  margin: -35px 0 0 0;  
}

.comment-btn{
  margin: -35px 20px 30px 20px;  
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}

h1,h3,h4{
  color:#B22222;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #dc3545ab;
}

a {
  color: #E91E63;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #673AB7;
  text-decoration: underline;
}

.btn-primary {
  color: #fff;
  background-color: #ff7600d4;
  border-color: #ffeb00a8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #e91e63d1;
  border-color: #FF5722;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #009688;
  border-color: #8BC34A;
}

span.last-reply{
  margin: 0px 5px 0px 10px;
}

span.count-reply{
  background-color: #ffa5006e;
  margin: 0px 38px;
  box-shadow: 1px 1px 3px red;
  margin-right: 8px;
  width: 35px;
  text-align: center;
  display: block;
}

span.count-view{
  margin: 0px 5px 0px 30px;
}