.alert-fixed {
  position:fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  opacity: 0.8;
  z-index: 999;
}

.post-index {
  background: #DDDDDD;
}

.user-avatar{
  width: 200px;
  height: 200px;
  margin: 10px;
}