.alert-fixed {
  position:fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  opacity: 0.8;
  z-index: 999;
}

.post-index {
  background: #DDDDDD;
}

.user-head {
  background: #DDDDDD;
  height: 400px;
}

.user-avatar{
  width: 200px;
  height: 200px;
  margin: 10px;
}

.user-edit-button{
  padding: 0 15px;
  margin: 100px 0 0 0;
}

.post-image{
  width: 550px;
  height: 350px;
  margin: 10px;  
}

.reply-card{
  height: 200px;
}

.collect-show-btn{
  margin: -35px 0 0 0;  
}

.comment-btn{
  margin: -35px 20px 30px 20px;  
}

.pagination{
  margin: 0 0px 0px 400px;
}

.post-add-friend{
  margin: 0 0px 0px 60px;  
}